.product-details-container{
  width: 60%;
}

.details-top{
  width: 100%;
}

.product-image{
  height: 10em ;

  background-size: contain ;
  background-repeat: no-repeat;
  background-position: center ;
}
