.container{
  width: 60% ;
  height: fit-content;
  margin-left: 30px ;
  margin-top: 20px ;
}

.product-item{
  margin-top: 0.5em ;
  margin-bottom: 0.5em ;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.product-image{
  height: 5em ;
  width: 100% ;

  background-size: contain ;
  background-repeat: no-repeat;
  background-position: center ;
}

.cart-button{
  padding: 0.5em 1.2em ;
  color: white ;
  background-color: black;
}
