.container{
  width: 60% ;
  height: fit-content;
  margin-left: 10px ;
}

.product-item{
  margin-top: 0.5em ;
  margin-bottom: 0.5em ;
}

.product-image{
  height: 5em ;
  width: 100% ;

  background-size: contain ;
  background-repeat: no-repeat;
  background-position: center ;
}
