.container{
   width: 60% ;
   height: fit-content;
   margin-left: 30px ;
   margin-top: 20px ;
}

.product-item{
  margin-top: 1em ;
  margin-bottom: 1em ;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  &:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    cursor: pointer;
  }
}

.product-image{
  height: 5em ;
  width: 100% ;

  background-size: contain ;
  background-repeat: no-repeat;
  background-position: center ;
}

.product-actions{
  margin-bottom: 1em ;
  width: 100%;
  button{
    width: 100%;
  }
}

.cart-button{
  padding: 0.5em 1.2em ;
  color: white ;
  background-color: black;
}

.spinner-container{
  height: 100% ;
  width: 100% ;
}

.spinner{
  font-size: 10em ;
}
