.container{
   width: 60% ;
   height: fit-content;
   margin-left: 30px ;
   margin-top: 20px ;
}

.product-item{
  margin-top: 0.5em ;
  margin-bottom: 0.5em ;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.product-image{
  height: 5em ;
  width: 100% ;

  background-size: contain ;
  background-repeat: no-repeat;
  background-position: center ;
}

.cart-button{
  padding: 0.5em 1.2em ;
  color: white ;
  background-color: black;
}

.spinner-container{
  height: 100% ;
  width: 100% ;
}

.spinner{
  font-size: 10em ;
}
